{% extend 'base.html' %}
{% block content %}

<div class="container">
    <form action="{% url 'get_translation' %}" method="post">
        <div class="row">
            <div class="col-sm-6 mt-3 left">
                <textarea class="form-control" rows="3" name="my_textarea"></textarea>
            </div>
            <div class="col-sm-6 mt-3 left">
                <textarea class="form-control" rows="3"></textarea>
                <input class="btn btn-primary ml-3 mt-3" type="submit" value="submit">
            </div>
        </div>
    </form>
</div>
{% endblock content %}